body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#hero::after{
    content: '';
    position:absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.titulo {
    margin-top: 30px;
    margin-bottom: 40px;
    background: transparent;
    border: none;
}
.titulo #p1 {
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 65px;
    font-weight: bolder;
}
.titulo #p2 {
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.calculadora {
    background: #3494E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: none;
}

.form-control{
    border-radius: 50px;
}
.form-control::placeholder{ 
    color: #6e6e6e;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; 
    font-size: 16px;
    border: transparent;
}

.btn{
    background-color: #000000;
    border-radius: 100px;
    color:#e1dddd;
    border: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: .2rem;
    margin-top: 35px;
    margin-bottom: 20px;
}

.ticket{
    margin-top: 10px;
    margin-bottom:40px;
    background-color: rgba(255, 255, 255, 0.857);
}
.ticket #datos {
    font-size: 20px;
}
.ticket #imc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.ticket h2{
    font-weight: bold;
}
.ticket #p1 {
    font-size: 40px;
    font-weight: bold;
}
.ticket #p2 {
    font-size: 70px;
    font-weight: bold;
}